{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="section mcb-section bg-cover" style="padding-top:70px;background-image:url({{ asset('assets/images/agency4-home-newsletter-bg.jpg') }});background-repeat:no-repeat;background-position:center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="column_attr clearfix align_center">
                        <h2><span style="color: #4989fd;">Please sign in</span></h2> </div>
                </div>
                <div class="col-12">
                    <hr class="no_line" style="margin:0 auto 40px"> </div>
                <div class="col-md-3">
                    <div class="placeholder"> &nbsp; </div>
                </div>
                <div class="col-md-6">
                    <div class="column_attr clearfix align_center mobile_align_center" style="padding:0 10%;">
                        <div id="contactWrapper">
                            <div id="contactform">
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                        </div>
                                    {% endif %}
                                    <label for="inputUsername">Username</label>
                                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                                    <div class="col-12">
                                        <hr class="no_line" style="margin:0 auto 20px"> </div>
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <div class="col-12">
                                        <hr class="no_line" style="margin:0 auto 40px"> </div>
                                    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
