{% extends 'base.html.twig' %}

{% block title %}{{ page.pageTitle }}{% endblock %}

{% block body %}
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div id="Top_bar">
                    <div class="row">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="{{ path('app_index') }}" title="BeAgency 4 - Betheme" data-height="60" data-padding="15"><img class="logo-main scale-with-grid" src="{{ asset('assets/images/Logo.png') }}" data-retina="{{ asset('assets/images/Logo@2x.png') }}" data-height="50" alt="Logo"><img class="logo-sticky scale-with-grid" src="{{ asset('assets/images/Logo.png') }}" data-retina="{{ asset('assets/images/Logo@2x.png') }}" data-height="50" alt="Logo"><img class="logo-mobile scale-with-grid" src="{{ asset('assets/images/Logo.png') }}" data-retina="{{ asset('assets/images/Logo@2x.png') }}" data-height="50" alt="Logo"><img class="logo-mobile-sticky scale-with-grid" src="{{ asset('assets/images/Logo.png') }}" data-retina="{{ asset('assets/images/Logo@2x.png') }}" data-height="50" alt="Logo"></a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li> <a href="{{ path('app_index') }}"><span>Home</span></a> </li>
                                            <li class="current-menu-item"> <a href="{{ path('about') }}"><span>About us</span></a> </li>
                                            <li> <a href="{{ path('services') }}"><span>Services</span></a> </li>
                                            <li> <a href="{{ path('faq') }}"><span>FAQ</span></a> </li>
                                            <li> <a href="{{ path('contacts') }}"><span>Contact</span></a> </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a> </div>
                            </div>
                            <div class="top_bar_right">
                                <div class="top_bar_right_wrapper"> <a href="{{ path('contacts') }}" class="action_button" target="_blank">Contact us</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    <div id="Content">
        <div class="section mcb-section full-width" style="padding-top:125px;padding-bottom:125px;background-image:url('{{ asset('upload/images/') }}{{ page.imageName }}');background-repeat:repeat;background-position:center">
            <div class="row" style="padding:30px 16%">
                <div class="col-12">
                    <h2><span style="color: #4989fd;">{{ page.title1 }}
															<br>
														</span>{{ page.title2 }}</h2>
                    <hr class="no_line" style="margin: 0 auto 15px auto">
                    <p style="color:#ADADC1;" class="page-description"> {{ page.description }} </p>
                </div>
            </div>
        </div>
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                {% for item in aboutItem %}
                    <div class="section mcb-section equal-height-wrap mobile_small_padding" style="padding-top:130px;padding-bottom:40px;background-color:#ffffff">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="mcb-wrap-inner">
                                        <img class="scale-with-grid" src="{{ asset('upload/images/') }}{{ item.imageName }}" alt="{{ item.title }}">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4 valign-middle">
                                    <div class="mcb-wrap-inner">
                                        <h3>{{ item.title }}</h3>
                                        <p>{{ item.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {{ render(controller('App\\Controller\\SubscribersController::renderSubscriberForm')) }}
            </div>
        </div>
    </div>
{% endblock %}