{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block description %}{{ short_description }}{% endblock %}

{% block body %}
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div id="Top_bar">
                    <div class="row">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <div class="logo">
                                    <a id="logo" href="{{ path('app_index') }}" title="BeAgency 4 - Betheme" data-height="60" data-padding="15"><img class="logo-main scale-with-grid" src="{{ asset('assets/images/Logo.png') }}" data-retina="{{ asset('assets/images/Logo@2x.png') }}" data-height="50" alt="Logo"><img class="logo-sticky scale-with-grid" src="{{ asset('assets/images/Logo.png') }}" data-retina="{{ asset('assets/images/Logo@2x.png') }}" data-height="50" alt="Logo"><img class="logo-mobile scale-with-grid" src="{{ asset('assets/images/Logo.png') }}" data-retina="{{ asset('assets/images/Logo@2x.png') }}" data-height="50" alt="Logo"><img class="logo-mobile-sticky scale-with-grid" src="{{ asset('assets/images/Logo.png') }}" data-retina="{{ asset('assets/images/Logo@2x.png') }}" data-height="50" alt="Logo"></a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-main-menu" class="menu menu-main">
                                            <li> <a href="{{ path('app_index') }}"><span>Home</span></a> </li>
                                            <li> <a href="{{ path('about') }}"><span>About us</span></a> </li>
                                            <li> <a href="{{ path('services') }}"><span>Services</span></a> </li>
                                            <li> <a href="{{ path('faq') }}"><span>FAQ</span></a> </li>
                                            <li> <a href="{{ path('contacts') }}"><span>Contact</span></a> </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a> </div>
                            </div>
                            <div class="top_bar_right">
                                <div class="top_bar_right_wrapper"> <a href="{{ path('contacts') }}" class="action_button" target="_blank">Contact us</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div id="Content" class="no-padding">
            <div class="section" style="padding-top:180px;padding-bottom:80px;background-color:#f1f4f6">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>{{ title }}</h2> </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="row" style="margin-top:-40px">
                        <div class="co-12">
                            <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                <div class="image_wrapper"><img class="scale-with-grid" src="{{ asset('upload/images/') }}{{ imageName }}" alt="agency4-aboutus-image" width="1024" height="423"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="row mt-5">{{ description|raw }}</div>
                    <div class="row" style="padding:50px 0px">
                        <div class="col-12">
                            <hr class="no_line" style="margin:0 auto 80px"> </div>
                        <div class="col-md-2">
                            <div class="placeholder"> &nbsp; </div>
                        </div>
                            <div class="col-md-8">
                                <h3 style="color:#0c117b;">{{ titleTextBlock }}</h3> </div>
                            <div class="col-12">
                                <hr class="no_line" style="margin:0 auto 50px"> </div>
                            <div class="col-md-2">
                                <div class="placeholder"> &nbsp; </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                {% for item in textBlock %}
                                    <div class="col-md-4">
                                        <p> {{ item.description }} </p>
                                    </div>
                                {% endfor %}
                            </div>
                        <div class="col-md-2">
                            <div class="placeholder"> &nbsp; </div>
                        </div>
                    </div>
                    <div class="row" style="padding:0px 12%">
                        {% for item in countBlock %}
                            <div class="col-md-4 text-center counting-block"> <i class="icon-plus"></i>
                                <hr class="no_line" style="margin: 0 auto 10px auto">
                                <div class="google_font" style="font-family:'Nunito Sans',Arial,Tahoma,sans-serif;font-size:42px;line-height:42px;font-weight:400;letter-spacing:0px;color:#15c68f;"> <span class="counter-inline animate-math"><span class="number" data-to="{{ item.number }}">{{ item.number }}</span></span>% </div>
                                <p style="max-width: 125px; margin: 0 auto;"> {{ item.description }} </p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row" style="padding:50px 0 0 0">
                        <div class="column mcb-column one column_image_gallery">
                            <div id="sc_gallery-6187" class='gallery galleryid-292 gallery-columns-4 gallery-size-thumbnail file'>
                                {% for item in imageBlock %}
                                    <dl class="gallery-item"> <dt class='gallery-icon landscape'>
                                            <a href="{{ asset('upload/images/') }}{{ item.imageName }}"><img width="500" height="500" src="{{ asset('upload/images/') }}{{ item.imageName }}" class="attachment-thumbnail size-thumbnail" loading="lazy"></a>
                                        </dt> </dl>
                                {% endfor %}
                                <br style="clear: both"> </div>
                        </div>
                    </div>
                    <div class="row" style="padding:50px 0">
                        {% for item in bottomText %}
                            <div class="col-md-6">
                                <h3 style="font-weight: 800;">{{ item.title }}</h3>
                                <p> – {{ item.author }} </p>
                            </div>
                            <div class="col-md-6">
                                <p> {{ item.description }} </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {{ render(controller('App\\Controller\\SubscribersController::renderSubscriberForm')) }}
        </div>
{% endblock %}